<ion-view title="FIN DE LA COMPRA" hide-nav-bar="true" id="page6" class="back-orange">
  <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
    <form style="height: 100%;">
    <div style="display: table; width: 100%; height: 100%;">
     <div style="display: table-cell; vertical-align: middle;">
	   <a ng-click="close()" id="cOMPRA-button2" style="font-weight:600;border-radius:8px 8px 8px 8px; position: absolute;right: 5px;top: 5px;min-width: 0;min-height:0; background-color: rgba(90,90,90,0.5);" class="button button-assertive button-large icon ion-android-close"></a>    
	    <h1 id="fINDELACOMPRA-heading17" style="color:#FFFFFF;font-weight:600;text-align:center;">{{formData.ending}}</h1>
	    <a ng-click="newPurchase()" id="fINDELACOMPRA-button6" style="font-weight:600;font-size:24px;border-radius:8px 8px 8px 8px;" class="button button-positive button-large button-block bigBtn-orange back-green">{{formData.buttonLbl}}</a>
	    <div class="spacer" style="width: 300px; height: 22px;"></div>
	    <div class="imgs">
	      <img src="img/jKUnTaQ3RyqTOGFpr1SY_smilies-bank-sit-rest-160731.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
	    </div>
     </div>
    </div>
	</form>
  </ion-content>
</ion-view>